# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build output
dist/
build/

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env*.local

# Prisma
prisma/generated/
src/generated/
*.db

# Logs
logs/
*.log
logs/*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Temporary files
tmp/
temp/

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma
